@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<DoctorsDailyHours>>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
 
}

@if(Model != null)
{
<div class="listing-day">
    @foreach (var day in Model.Content.DoctorsWeekDays)
        {
        <div class="day">@day</div>
        }
    <div class="time-items">
        <span class="time">@Model.Content.TimeFrom - @Model.Content.TimeTo</span>
    </div>
</div>

}