@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<Education>>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    
}
@if (Model != null)
{
    <li>
        <div class="experience-user">
            <div class="before-circle"></div>
        </div>
        <div class="experience-content">
            <div class="timeline-content">
                <a href="#" class="name">@Model.Content.Collage</a>
                <p class="text-muted">@Model.Content.Degree</p>
                <span class="time">@Model.Content.TotalYear</span>
            </div>
        </div>
</li>
}