@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<Services>>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
}

@if(Model != null)
{

<span>@Model.Content.Value("addService")</span>
    
}