@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<Services>>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
}
<br><br>
@if(Model != null)
{
<h1>@Model.Content.ServiceTitle</h1>
 @foreach(var item in Model.Content.Value<string>("addService").Split(','))
    { 
        <li>@item</li>
    }
}