@model string

@if (string.IsNullOrWhiteSpace(Model))
{
    <div class="alert-info alert">Please Add Google Search Key</div>
}
else
{
    <div class="gcse-search"></div>
    <div class="gcse-searchresults" data-gname="storesearch"></div>
    <script async src="https://cse.google.com/cse.js?cx=@Model"></script>
}


<!--Refrence-->
@*https://developers.google.com/custom-search/docs/element
    https://programmablesearchengine.google.com/about/
*@